doctype html
html(lang='en')
  head  
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
  
    link(href='css/main.css', rel='stylesheet')
    link(rel="stylesheet" href="libraries/bootstrap-3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="fonts/font-awesome-4.6.3/css/font-awesome.min.css")
    script(src='libraries/jquery-1.12.3.min.js')
    script(src='libraries/angular.min.js')
    script(src='libraries/lodash.min.js')
    script(src='libraries/bootstrap-3.3.6/js/bootstrap.min.js')
    script(src='js/app/database.js')
    script(src='js/app/utils.js')


    //if lt IE 9
      script(src='libraries/html5shiv-3.7.2.min.js')
      script(src='libraries/respond-1.4.2.min.js')
      
  body
    
    != partial('_header')
    .custom-container
      != yield
      != partial('_footer')




    
