div.content-area(Id="curriculumDiv" ng-controller='curriculumController')
  div.curric-facet-menu.mobile-flex(id ="gradeAndSubjectMobile")
    div.select-criteria
      div.select-header-wrapper
      div.grade-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('gradeAndSubjectMobile','gradeMobileFilter')") Grades
        div.filter-mobile-wrapper(id='gradeMobileFilter')
          div.news-filters(ng-repeat="tag in gradeTags",style="display: flex;" ng-click="ctrl.changeGradeTag(tag.Tag);")
            i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': gradeFilter != tag.Tag, 'fa-circle': gradeFilter == tag.Tag}")
            span {{tag.Tag}}
            br 
      div.subject-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('gradeAndSubjectMobile','subjectMobileFilter')") Subject
        div.filter-mobile-wrapper(id='subjectMobileFilter')
          div.news-filters(ng-repeat="tag in subjectTags",style="display: flex;" ng-click="ctrl.changeSubjectTag(tag.Tag);"  ng-show="$index  < maxSubjects")
            i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': subjectFilter != tag.Tag, 'fa-circle': subjectFilter == tag.Tag}")
            span {{tag.Tag}}
            br 
          div(ng-show="subjectTags.length > maxSubjects")
            button.clear-button(ng-click="maxSubjects = subjectTags.length")
              i.fa.fa-plus-square-o
              span  See More
          div(ng-show="subjectTags.length == maxSubjects")
            button.clear-button(ng-click="maxSubjects = 6") 
              i.fa.fa-minus-square-o
              span  See Less
      div.resource-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('gradeAndSubjectMobile','curricResourceMobileFilter')") Curriculum Resource Type
        div.filter-mobile-wrapper(id='curricResourceMobileFilter')
          div.news-filters(ng-repeat="tag in curriculumTypeTags",style="display: flex;" ng-click="ctrl.changeCurriculumTypeTag(tag.Tag);"  ng-show="$index  <= maxContent")
              i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': curriculumTypeFilter != tag.Tag, 'fa-circle': curriculumTypeFilter == tag.Tag}")
              span {{tag.Tag}}
              br 
      div.resource-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('gradeAndSubjectMobile','resourceTypeMobileFilter')") Resource Type
        div.filter-mobile-wrapper(id='resourceTypeMobileFilter')
          .div.news-filters(ng-repeat="tag in contentTypeTags",style="display: flex;" ng-click="ctrl.changeContentTag(tag.Tag);"  ng-show="$index  <= maxContent")
              i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': contentTypeFilter != tag.Tag, 'fa-circle': contentTypeFilter == tag.Tag}")
              span {{tag.Tag}}
              br 
    .close-wrapper
      button.close-mobile(ng-click='ctrl.toggleFilters("gradeAndSubjectMobile")')
        i.fa.fa-times
  div.curric-facet-menu.mobile-flex(id ="curricMobile")
    div.select-criteria
      div.select-header-wrapper
      div.grade-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('curricMobile','gradeMobileFilter')") Curriculum & Teaching Topics
        div.filter-mobile-wrapper(id='gradeMobileFilter')
          div.news-filters(ng-repeat="tag in curriculumTags",style="display: flex;" ng-click="ctrl.changeCurriculumTag(tag.Tag,true);")
            i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': curriculumFilter != tag.Tag, 'fa-circle': curriculumFilter == tag.Tag}")
            span {{tag.Tag}}
            br 
      div.resource-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('curricMobile','curricResourceMobileFilter')") Curriculum Resource Type
        div.filter-mobile-wrapper(id='curricResourceMobileFilter')
          div.news-filters(ng-repeat="tag in curriculumTypeTags",style="display: flex;" ng-click="ctrl.changeCurriculumTypeTag(tag.Tag);"  ng-show="$index  <= maxContent")
              i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': curriculumTypeFilter != tag.Tag, 'fa-circle': curriculumTypeFilter == tag.Tag}")
              span {{tag.Tag}}
              br 
      div.resource-select-wrapper.select-row
        span.bold.filter-span(ng-click="ctrl.toggleSubFilter('curricMobile','resourceTypeMobileFilter')") Resource Type
        div.filter-mobile-wrapper(id='resourceTypeMobileFilter')
          .div.news-filters(ng-repeat="tag in contentTypeTags",style="display: flex;" ng-click="ctrl.changeContentTag(tag.Tag);"  ng-show="$index  <= maxContent")
              i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': contentTypeFilter != tag.Tag, 'fa-circle': contentTypeFilter == tag.Tag}")
              span {{tag.Tag}}
              br 
    .close-wrapper
      button.close-mobile(ng-click='ctrl.toggleFilters("curricMobile")')
        i.fa.fa-times
  div.row-col(style='display: flex;')
    div.pull-left.full-mobile(style="width: 50%; margin-right: 15px;")
      h2(style="padding-bottom: 15px;") District resources
      p {{currentItem.Description}}
    div.pull-right.full-mobile(style="width: 50%; align-self: center; padding-bottom: 15px")
      div
        span.bold Teacher made curriculum resources
        select.teacher-select(selectpicker='' id='curricSelect' style="width: 75%" ng-model="selectedShareSite" ng-options="site.Url as site.Name for site in shareSites track by site.Url")
          option(disabled="" selected="" value="") Subject...
        button.techer-select-button(ng-click="ctrl.openSite()" id='curric-button' ng-disabled="selectedShareSite == ''") GO
    
  div
    ul.nav.nav-tabs(role='tablist' id="myTabs")
      li.active(role='presentation')
        a(href='#home', aria-controls='home', role='tab', data-toggle='tab' ng-click="ctrl.clearFilters()") Grade & Subject
      li(role='presentation')
        a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab' ng-click="ctrl.clearFilters()") Curriculum & Teaching Topics  
    .tab-content
      #home.tab-pane.active.grade-pain(role='tabpanel')
        div.content-flex-wrapper
          div.select-criteria.desktop
            div.select-header-wrapper
            div.grade-select-wrapper.select-row
              span.bold Grades
              div.news-filters(ng-repeat="tag in gradeTags",style="display: flex;" ng-click="ctrl.changeGradeTag(tag.Tag);")
                i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': gradeFilter != tag.Tag, 'fa-circle': gradeFilter == tag.Tag}")
                span {{tag.Tag}}
                br 
            div.subject-select-wrapper.select-row
              span.bold Subject
              div.news-filters(ng-repeat="tag in subjectTags",style="display: flex;" ng-click="ctrl.changeSubjectTag(tag.Tag);"  ng-show="$index  < maxSubjects")
                i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': subjectFilter != tag.Tag, 'fa-circle': subjectFilter == tag.Tag}")
                span {{tag.Tag}}
                br 
              div(ng-show="subjectTags.length > maxSubjects")
                button.clear-button(ng-click="maxSubjects = subjectTags.length")
                  i.fa.fa-plus-square-o
                  span  See More
              div(ng-show="subjectTags.length == maxSubjects")
                button.clear-button(ng-click="maxSubjects = 6") 
                  i.fa.fa-minus-square-o
                  span  See Less
            div.resource-select-wrapper.select-row
              span.bold Curriculum Resource Type
              div.news-filters(ng-repeat="tag in curriculumTypeTags",style="display: flex;" ng-click="ctrl.changeCurriculumTypeTag(tag.Tag);"  ng-show="$index  <= maxContent")
                  i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': curriculumTypeFilter != tag.Tag, 'fa-circle': curriculumTypeFilter == tag.Tag}")
                  span {{tag.Tag}}
                  br 
            div.resource-select-wrapper.select-row
              span.bold Resource Type
              .div.news-filters(ng-repeat="tag in contentTypeTags",style="display: flex;" ng-click="ctrl.changeContentTag(tag.Tag);"  ng-show="$index  <= maxContent")
                  i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': contentTypeFilter != tag.Tag, 'fa-circle': contentTypeFilter == tag.Tag}")
                  span {{tag.Tag}}
                  br 
          div.resources-wrapper
            .mobile.l1-mobile-nav(style='margin: 15px;' ng-click="ctrl.toggleFilters('gradeAndSubjectMobile')")
              div.teacher-select(style='width: 100%; border: 1px solid black') Filter
            span.resoures-header(ng-show='gradeFilter != "" || subjectFilter  != "" || contentTypeFilter  != "" || curriculumFilter  != ""') {{gradeAndSubjectArray.length}} Results for:
            div.chips-wrapper
              div.filter-chip(ng-show="gradeFilter != ''" ng-click="ctrl.changeGradeTag('');")
                span {{gradeFilter}}
                  span.remove-chip &nbsp;&nbsp;x
              div.filter-chip(ng-show="subjectFilter != ''" ng-click="ctrl.changeSubjectTag('')")
                span {{subjectFilter}}
                    span.remove-chip &nbsp;&nbsp;x
              div.filter-chip(ng-show="curriculumTypeFilter != ''" ng-click="ctrl.changeCurriculumTypeTag('');")
                span {{curriculumTypeFilter}}
                    span.remove-chip &nbsp;&nbsp;x
              div.filter-chip(ng-show="contentTypeFilter != ''" ng-click="ctrl.changeContentTag('')")
                span {{contentTypeFilter}}
                    span.remove-chip &nbsp;&nbsp;x
            div.filter-alert-area(ng-show="gradeAndSubjectArray.length == 0")
              span(ng-show="gradeFilter == '' && subjectFilter == '' && resourceFilter == ''") Please select search criteria:
              span(ng-show="!(gradeFilter == '' && subjectFilter == '' && resourceFilter == '')") No results match the current search criteria
            div.resource-skeleton(ng-show="gradeAndSubjectArray.length == 0 && resourceFilter == '' && subjectFilter == '' && resourceFilter == ''")
              hr.thin-padding-hr
              div.skeleton-header
              div.skeleton-metadata
              div.skeleton-description
              div.skeleton-description-middle-line
              div.skeleton-description
            div.resource-wrapper(ng-repeat="resource in gradeAndSubjectArray")
              hr.thin-padding-hr
              span.resource-header.navigateable {{resource.Name}}
              br
              span {{resource.Description}}
              br
              span.small-text.text-muted(ng-repeat="tag in resource.Tags") {{tag}}
                span(ng-show="$index != resource.Tags.length -1") ,   
      #profile.tab-pane.topic-pain(role='tabpanel')
        div.content-flex-wrapper
          div.select-criteria.desktop
            div.select-header-wrapper
            div.grade-select-wrapper.select-row
              span.bold Curriculum & Teaching Topics
              div.news-filters(ng-repeat="tag in curriculumTags",style="display: flex;" ng-click="ctrl.changeCurriculumTag(tag.Tag,true);")
                i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': curriculumFilter != tag.Tag, 'fa-circle': curriculumFilter == tag.Tag}")
                span {{tag.Tag}}
                br 
            div.resource-select-wrapper.select-row
              span.bold Curriculum Resource Type
              div.news-filters(ng-repeat="tag in curriculumTypeTags",style="display: flex;" ng-click="ctrl.changeCurriculumTypeTag(tag.Tag, true);"  ng-show="$index  <= maxContent")
                  i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': curriculumTypeFilter != tag.Tag, 'fa-circle': curriculumTypeFilter == tag.Tag}")
                  span {{tag.Tag}}
                  br 
            div.resource-select-wrapper.select-row
              span.bold Resource Type
              .div.news-filters(ng-repeat="tag in contentTypeTags",style="display: flex;" ng-click="ctrl.changeContentTag(tag.Tag, true);"  ng-show="$index  <= maxContent")
                  i.fa.fa-circle-o(style="margin-right: 5px; margin-top: 4px;" ng-class="{'fa-circle-o': contentTypeFilter != tag.Tag, 'fa-circle': contentTypeFilter == tag.Tag}")
                  span {{tag.Tag}}
                  br 
          div.resources-wrapper
            .mobile.l1-mobile-nav(style='margin: 15px;' ng-click="ctrl.toggleFilters('curricMobile')")
              div.teacher-select(style='width: 100%; border: 1px solid black') Filter
            span.resoures-header.bold(ng-show='curriculumTypeFilter  != "" || contentTypeFilter  != "" || curriculumFilter  != ""') {{curriculumArray.length}} Results for:
            div.chips-wrapper
              div.filter-chip(ng-show="curriculumFilter != ''" ng-click="ctrl.changeCurriculumTag('',true);")
                span {{curriculumFilter}}
                  span.remove-chip &nbsp;&nbsp;x
              div.filter-chip(ng-show="curriculumTypeFilter != ''" ng-click="ctrl.changeCurriculumTypeTag('', true);")
                span {{curriculumTypeFilter}}
                    span.remove-chip &nbsp;&nbsp;x
              div.filter-chip(ng-show="contentTypeFilter != ''" ng-click="ctrl.changeContentTag('', true)")
                span {{contentTypeFilter}}
                    span.remove-chip &nbsp;&nbsp;x
            div.filter-alert-area(ng-show="resourceArray.length == 0")
              span(ng-show="curriculumTypeFilter == '' && contentTypeFilter == '' && curriculumFilter == ''") Please select search criteria:
              span(ng-show="!(curriculumTypeFilter == '' && contentTypeFilter == '' && curriculumFilter == '')") No results match the current search criteria
            div
              span Sort By
              select.teacher-select.no-padding(style='margin-left: 15px')
                option(selected="" value="") Grade
                option(value="") Subject
                
            div.resource-skeleton(ng-show="curriculumArray.length == 0 && curriculumFilter == '' && contentTypeFilter == '' && curriculumTypeFilter == ''")
              hr.thin-padding-hr
              div.skeleton-header
              div.skeleton-metadata
              div.skeleton-description
              div.skeleton-description-middle-line
              div.skeleton-description
            div.resource-wrapper(ng-repeat="resource in curriculumArray")
              hr.thin-padding-hr
              span.resource-header.navigateable {{resource.Name}}
              br
              span {{resource.Description}}
              br
              span.small-text.text-muted(ng-repeat="tag in resource.Tags") {{tag}}
                span(ng-show="$index != resource.Tags.length -1") ,   
          
    


script(src='js/app/curriculum/dataService.js')
script(src='js/app/curriculum/controller.js')
script(src='js/app/curriculum/main.js')
script.
  angular.bootstrap(document.getElementById('curriculumDiv'),["curriculumApp"])
