div(Id="gradeAndSubjectDiv" ng-controller='gradeAndSubjectController')
  .content-area
    h2 Grade & Subject Resources
    
    
    div.content-flex-wrapper
      div.select-criteria
        div.select-header-wrapper
          span.select-header.bold SEARCH CRITERIA
          br
          div.select-default.select-row
            i(class="fa fa-star-o default-icon")
            span Set default criteria
        div.grade-select-wrapper.select-row
          span Grades
          .select-filter
            select(ng-model="gradeFilter" ng-change="ctrl.loadResources()")
              option(value="" selected) Select Grades
              option(ng-repeat="item in gradeArray" value="{{item.Tag}}") {{item.Tag}}
        div.subject-select-wrapper.select-row
          span Subject
          .select-filter
            select(ng-model="subjectFilter" ng-change="ctrl.loadResources()")
              option(value="" selected) Select Subject
              option(ng-repeat="item in subjectArray" value="{{item.Tag}}") {{item.Tag}}
        div.resource-select-wrapper.select-row
          span Resource Type
          .select-filter
            select(ng-model="typeFilter" ng-change="ctrl.loadResources()")
              option(value="" selected) Select Resource Type
              option(ng-repeat="item in typeArray" value="{{item.Tag}}") {{item.Tag}}
      div.resources-wrapper
        span.resoures-header.bold  Results:
        div.chips-wrapper
          div.filter-chip(ng-show="gradeFilter != ''" ng-click="gradeFilter = ''; ctrl.loadResources();")
            span {{gradeFilter}}
              span.remove-chip &nbsp;&nbsp;x
          div.filter-chip(ng-show="subjectFilter != ''" ng-click="subjectFilter = ''; ctrl.loadResources();")
            span {{subjectFilter}}
                span.remove-chip &nbsp;&nbsp;x
          div.filter-chip(ng-show="typeFilter != ''" ng-click="typeFilter = ''; ctrl.loadResources();")
            span {{typeFilter}}
                span.remove-chip &nbsp;&nbsp;x
        div.filter-alert-area(ng-show="resourceArray.length == 0")
          span(ng-show="gradeFilter == '' && subjectFilter == '' && typeFilter == ''") Please select search criteria:
          span(ng-show="!(gradeFilter == '' && subjectFilter == '' && typeFilter == '')") No results match the current search criteria
        div.resource-skeleton(ng-show="resourceArray.length == 0 && gradeFilter == '' && subjectFilter == '' && typeFilter == ''")
          hr.thin-padding-hr
          div.skeleton-header
          div.skeleton-metadata
          div.skeleton-description
          div.skeleton-description-middle-line
          div.skeleton-description
        div.resource-wrapper(ng-repeat="resource in resourceArray")
          hr.thin-padding-hr
          span.resource-header.navigateable {{resource.Name}}
          br
          span.resource-metadata Posted: {{resource.Metadata.CreatedOn}} by 
            span.user-name.navigateable  {{resource.Metadata.CreatedBy}}
          br
          span {{resource.Description}}
script(src='js/app/gradeAndSubject/dataService.js')
script(src='js/app/gradeAndSubject/controller.js')
script(src='js/app/gradeAndSubject/main.js')
script.
  angular.bootstrap(document.getElementById('gradeAndSubjectDiv'),["gradeAndSubjectApp"])
