div(Id="homeIndexDiv" ng-controller='homeIndexController')
  .content-area.no-padding
    .info-wrapper.full-width.no-padding
      .primary-info.no-padding
        .need-to-know-wrapper
          .header.full-width(style="margin-top: -15px;")
            h3.no-padding Need to Know News
          .need-to-know-flex
            .featured-story
              .story-img
                img(src="{{featuredStory.Image}}")
              .story-info
                span.text-muted.small-text {{featuredStory.Metadata.CreatedOn}}
                  span(ng-repeat="tag in featuredStory.Tags") |&nbsp{{tag}}&nbsp
                p.bold.no-margin {{featuredStory.Name}}
                p {{featuredStory.Description}}
            .story-scroll-wrapper
              .story.news-item(ng-repeat="story in newsItems")
                p.news-text.no-margin {{story.Name}}
                span.text-muted.small-text {{story.Metadata.CreatedOn}}
                  span(ng-repeat="tag in story.Tags") |&nbsp{{tag}}&nbsp
              .scroll-footer
        .dynamic-info-wrapper
          .dates-wrapper
          .quicklins-wrapper
      .secondary-info.extra-wide
script(src='js/app/home/dataService.js')
script(src='js/app/home/index/controller.js')
script(src='js/app/home/index/main.js')
script.
  angular.bootstrap(document.getElementById('homeIndexDiv'),["homeIndexApp"])
