div(Id="levelFourDiv" ng-controller='levelFourController')
  .content-area
    div(ng-show="employeeBar")
      != partial("_partials/employeeBar")  
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          p(ng-bind-html="currentItem.Description | trust")
        != partial("_partials/documentsAccordian")
      .secondary-info
        
script(src='js/app/levelFour/dataService.js')
script(src='js/app/levelFour/controller.js')
script(src='js/app/levelFour/main.js')
script.
  angular.bootstrap(document.getElementById('levelFourDiv'),["levelFourApp"])
