div(Id="levelOneDiv" ng-controller='levelOneController') 
  .content-area
    div(ng-show="employeeBar")
      != partial("_partials/employeeBar")
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          div.primary-image
          p {{currentItem.Description}}
        != partial("_partials/sectionItems")
      .secondary-info
        div.news-item-wrapper
          span.sub-heading NEWS
          div.news-item(ng-repeat="news in relatedNews")
            span.news-text {{news.Name}}
            p.text-muted {{news.Metadata.CreatedOn}}
        div.app-item-wrapper
          span.sub-heading APPS
          div.app-item(ng-repeat="app in relatedApps")
            span.app-text {{app.Name}}
            br
        
script(src='js/app/levelOne/dataService.js')
script(src='js/app/levelOne/controller.js')
script(src='js/app/levelOne/main.js')
script.
  angular.bootstrap(document.getElementById('levelOneDiv'),["levelOneApp"])
