div(Id="levelThreeDiv" ng-controller='levelThreeController')
        
  .content-area
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          p {{currentItem.Description}}
        .section-items-mini
          != partial("_partials/sectionItems")
      .secondary-info
        
script(src='js/app/levelThree/dataService.js')
script(src='js/app/levelThree/controller.js')
script(src='js/app/levelThree/main.js')
script.
  angular.bootstrap(document.getElementById('levelThreeDiv'),["levelThreeApp"])
