div(Id="levelTwoDiv" ng-controller='levelTwoController')
        
  .content-area
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          p {{currentItem.Description}}
        != partial("_partials/sectionItems")
      .secondary-info
      
        
script(src='js/app/levelTwo/dataService.js')
script(src='js/app/levelTwo/controller.js')
script(src='js/app/levelTwo/main.js')
script.
  angular.bootstrap(document.getElementById('levelTwoDiv'),["levelTwoApp"])
