div(Id="levelThreeDiv" ng-controller='levelThreeController')
  .content-area
    div(ng-show="employeeBar")
      != partial("_partials/employeeBar")
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          p(ng-bind-html="currentItem.Description | trust")
        .section-items-mini
          != partial("_partials/sectionItems")
        != partial("_partials/documentsAccordian")
      .secondary-info
        
script(src='js/app/levelThree/dataService.js')
script(src='js/app/levelThree/controller.js')
script(src='js/app/levelThree/main.js')
script.
  angular.bootstrap(document.getElementById('levelThreeDiv'),["levelThreeApp"])
