div(Id="levelFourDiv" ng-controller='levelFourController')
        
  .content-area
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          p {{currentItem.Description}}
      .secondary-info
        
script(src='js/app/levelFour/dataService.js')
script(src='js/app/levelFour/controller.js')
script(src='js/app/levelFour/main.js')
script.
  angular.bootstrap(document.getElementById('levelFourDiv'),["levelFourApp"])
