div(Id="levelOneDiv" ng-controller='levelOneController') 
  .content-area
    div(ng-show="employeeBar")
      != partial("_partials/employeeBar")
    .mobile.l1-mobile-nav(style='margin: 15px;' ng-click="ctrl.toggleExpandingNav()")
      div(style='width: 100%; border: 1px solid black') In this section
      .expanding-nav
        div.mobile-item-wrapper(ng-repeat="item in sectionItems track by $index")
          div.mobile-row(id='{{$index}}-l1' ng-click="ctrl.redirectToL1Nav(item)")
            div {{item.Name}}
            div.expand-button-wrapper.pull-right
              button.expand-mobile(ng-click='ctrl.mobileL1(item,$index);$event.stopPropagation(); ')
                i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile($index)')
                i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile($index)')
    .info-wrapper
      .primary-info
        h2 {{currentItem.Id}} Overview
        .descripton-wrapper
          div.primary-image
          p(ng-bind-html='currentItem.Description | trust')
        != partial("_partials/sectionItems")
        != partial("_partials/documentsAccordian")
      .secondary-info.desktop
        div.news-item-wrapper
          span.sub-heading NEWS
          div.news-item(ng-repeat="news in relatedNews")
            span.news-text {{news.Name}}
            p.text-muted {{news.Metadata.CreatedOn}}
        div.app-item-wrapper
          span.sub-heading APPS
          div.app-item(ng-repeat="app in relatedApps")
            span.app-text {{app.Name}}
            br
        
script(src='js/app/levelOne/dataService.js')
script(src='js/app/levelOne/controller.js')
script(src='js/app/levelOne/main.js')
script.
  angular.bootstrap(document.getElementById('levelOneDiv'),["levelOneApp"])
