div(Id="curriculumIndexDiv" ng-controller='curriculumIndexController')      
  .content-area
    .info-wrapper
      .primary-info
        h2 District Curriculum Resources Overview
        .descripton-wrapper
          p 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            | deserunt mollit anim id est laborum
        div.option-sets-wrapper
          h3 Search for a resource by:
          div.option-set-wrapper
            span.bold Grade
            div.option-set
              a.option(ng-repeat="grade in gradeTags" ng-click="ctrl.redirect(grade.Tag, 1)") {{grade.Tag}}
          div.option-set-wrapper
            span.bold Subjects
            div.option-set
              a.option(ng-repeat="subject in subjectTags" ng-click="ctrl.redirect(subject.Tag, 2)") {{subject.Tag}}
          div.option-set-wrapper
            span.bold Curriculum & Teaching Topics
            div.option-set
              a.option(ng-repeat="curricTag in curriculumTags" ng-click="ctrl.redirect(curricTag.Tag, 3)") {{curricTag.Tag}}
      .secondary-info
        div.app-item-wrapper
          span.sub-heading CONTACTS
          div.app-item(ng-repeat="app in relatedApps")
            span.app-text {{app.Name}}
            br
        
script(src='js/app/curriculumIndex/dataService.js')
script(src='js/app/curriculumIndex/controller.js')
script(src='js/app/curriculumIndex/main.js')
script.
  angular.bootstrap(document.getElementById('curriculumIndexDiv'),["curriculumIndexApp"])
