#accordion.panel-group
  .panel.panel-default(ng-repeat="type in documentTypes" ng-show="type.Documents.length > 0")
    .panel-heading( data-toggle='collapse', data-parent='#accordion', ng-href='{{"#"+$index}}')
      h4.panel-title
        i.fa.fa-sort-desc.fa-centering
        a {{type.Tag}}
          
    .panel-collapse.collapse(id="{{$index}}")
        .panel-body
          div.panel-document(ng-repeat="document in type.Documents")
            i.fa.pull-left.fa-file-text-o
            div.doc-info-wrapper.pull-right
              a(href="{{document.Link}}" target="_blank") {{document.Name}}
              div.text-muted.small-text {{document.Metadata.CreatedOn}}
