div(ng-controller='navController' Id="navDiv")
  .left-nav.top.l1-nav
    a.popover-dismiss(tabindex="0" style="display: block;" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?")
      .user-pane
        .user-wrapper
          img.user-icon(src="images/usericon.png")
          .user-dropdown
            span.muted-text Test User
            i(class="fa fa-sort-desc fa-1")
    .nav-items
      ul.main-nav
        li(ng-click="ctrl.openL2NavForItem(item)" ng-repeat="item in navItems" ng-class="{'open-nav-item' : ctrl.IsOpenItem(item.Id)}")
          div {{item.Name}}
      ul.secondary-nav
        li
          div Forms
        li
          div Contacts
        li
          div Careers
        li
          div Emergency
  .left-nav.l2-nav(style='z-index: 900')
    .nav-items        
      ul.hidden-nav.main-nav
        li(ng-repeat="item in l2NavItems" ng-class="{'open-nav-item' : ctrl.IsOpenItem(item.Id)}" ng-click="ctrl.openL3NavForItem(item)")
          div {{item.Name}}
  .left-nav.l3-nav(style='z-index: 800')
    .nav-items        
      ul.hidden-nav.main-nav
        li(ng-repeat="item in l3NavItems" ng-class="{'open-nav-item' : ctrl.IsOpenItem(item.Id)}" ng-click="ctrl.openL4NavForItem(item)")
          div {{item.Name}}
  .left-nav.l4-nav(style='z-index: 700')
    .nav-items        
      ul.hidden-nav.main-nav
        li(ng-repeat="item in l4NavItems" ng-class="{'open-nav-item' : ctrl.IsOpenItem(item.Id)}" ng-click="ctlr.openL4NavForItem(item)")
          div {{item.Name}}
  .top-nav
    .top-wrapper
      .top-row
        img.logo(src="images/epsblogo.png")
        .my-apps.pull-right(ng-click="ctrl.displayApps()")
        .my-notifications.pull-right
        .date-time.pull-right
          span.time
          span.period
          br
          span.date
      .search-bar.col-md-12.no-padding
        label(for="searchText" id="searchLabel")
          i.fa.fa-search.fa-3
          input.search-input(type="text" id="searchText")
      .bread-crumb.col-sm-12
        span.bread-crumb-l2(ng-show="selectedL2Item != null" ng-click="ctrl.redirectToL2Nav(selectedL2Item,true)" ng-class="{'navigateable' : navLevel != '2'}") {{selectedL2Item}}
        span.bread-crumb-l3(ng-show="selectedL3Item != null" ng-click="ctrl.redirectToL3Nav(selectedL3Item,selectedL2Item,true)")  >
          span(ng-class="{'navigateable' : navLevel != '3'}")  {{selectedL3Item}}
        span.bread-crumb-l4(ng-show="selectedL4Item != null")  >
          span(ng-class="{'navigateable' : navLevel != '4'}")  {{selectedL4Item}}
      != partial('megamenu')
  script(src='js/app/nav/dataService.js')
  script(src='js/app/nav/controller.js')
  script(src='js/app/nav/main.js')
  script.
    angular.bootstrap(document.getElementById('navDiv'),["navApp"])
