div(ng-controller='navController' Id="navDiv")
  .left-nav.top.l1-nav
    a.popover-dismiss(ng-click="ctrl.swapUsers()" tabindex="0" style="display: block;" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?")
      .user-pane
        .user-wrapper
          img.user-icon(src="images/usericon.png")
          .user-dropdown
            span.muted-text {{currentUser}}
            i(class="fa fa-sort-desc fa-1")
    .nav-items
      ul.main-nav
        li(ng-click="ctrl.openL2NavForItem(item,true)" ng-repeat="item in navItems" ng-class="{'open-nav-item' : ctrl.IsOpenItem(item.Id)}")
          div {{item.Name}}
      ul.secondary-nav
        li(ng-click="ctrl.search('Forms & Templates')")
          div Forms & Templates
        li
          div Policies
        li
          div Career Opportunities
        li
          div Professional Development
  .left-nav.l2-nav(style='z-index: 900')
    .nav-items
      .nav-header {{selectedItemIds[0].Name}}
      ul.hidden-nav.sub-nav
        li(ng-click="ctrl.redirectToL1Nav(selectedItemIds[0])" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}")
          div {{selectedItemIds[0].Name}} Overview
        li(ng-repeat="item in l2NavItems" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}" ng-click="ctrl.openL3NavForItem(item,false,0,true)")
          div {{item.Name}}
  .left-nav.l3-nav(style='z-index: 800')
    .nav-items
      .nav-header {{selectedItemIds[1].Name}}        
      ul.hidden-nav.sub-nav
        li(ng-click="ctrl.redirectToL2Nav(selectedItemIds[1])" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}")
          div {{selectedItemIds[1].Name}} Overview
        li(ng-repeat="item in l3NavItems" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}" ng-click="ctrl.openL4NavForItem(item,false,0,true)")
          div {{item.Name}}
  .left-nav.l4-nav(style='z-index: 700')
    .nav-header {{selectedItemIds[2].Name}}
    .nav-items        
      ul.hidden-nav.sub-nav
        li(ng-click="ctrl.redirectToL3Nav(selectedItemIds[2])" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}")
          div {{selectedItemIds[2].Name}} Overview
        li(ng-repeat="item in l4NavItems" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}" ng-click="ctrl.redirectToL4Nav(item)")
          div {{item.Name}}
  .right-nav.application-drawer(style='z-index: 1000; color: white !important')
    .application-header Applications
    a.all-apps-link.pull-right(ng-click="ctrl.redirectToL1Nav(applicationsItem)") All apps >>
    .application-item(ng-repeat="app in applications")
      .application-icon.pull-left
        i.fa.fa-star(ng-show="app.Favorite == 'true'")
        i.fa.fa-star-o(ng-show="app.Favorite != 'true'")
      .application-info.pull-right
        span.application-name {{app.Name}}
        .application-desc {{app.Description}}
  .top-nav
    .top-wrapper
      .top-row
        img.logo(src="images/epsblogo.png" ng-click="ctrl.redirectHome()")
        img(src="images/apps.png" style="padding-right: 15px;padding-top: 20px;" ng-click="ctrl.openApplicationDrawer()").pull-right
        img(src="images/menuitems.png" style="padding-right: 15px;padding-top: 20px;").pull-right
      .search-bar.col-md-12.no-padding
        label(for="searchText" id="searchLabel")
          i.fa.fa-search.fa-3(ng-click="ctrl.search()")
          form(ng-submit="ctrl.search()")
            input.search-input(type="text" id="searchText" ng-model="searchString")
      .bread-crumb.col-sm-12.small-text(ng-if="navigatedItems.length > 0")
        span.bread-crumb-l2(ng-click="ctrl.redirectHome()") Home
          span.bread-crumb-separator(ng-if="navigatedItems.length > 0") &nbsp>&nbsp;
        span.bread-crumb-l2(ng-click="ctrl.redirectFromBreadCrumb($index, navItem)" ng-repeat="navItem in navigatedItems") {{navItem.Name}}
          span.bread-crumb-separator(ng-if="$index != navigatedItems.length -1") &nbsp>&nbsp;
      != partial('megamenu')
  script(src='js/app/nav/dataService.js')
  script(src='js/app/nav/controller.js')
  script(src='js/app/nav/main.js')
  script.
    angular.bootstrap(document.getElementById('navDiv'),["navApp"])
